@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --custom-background: radial-gradient(125% 125% at 50% 10%, #000 40%, #63e 100%);
  @apply h-full bg-no-repeat;
  background: var(--custom-background);
  background-attachment: fixed;
  background-size: cover; 
}

section {
  @apply font-sans
}
